<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentTable</servlet-name>
        <servlet-class>view.StudentTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileTable</servlet-name>
        <servlet-class>view.FileTable</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>FileForm</servlet-name>
        <servlet-class>view.FileForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDetailTable</servlet-name>
        <servlet-class>view.FileDetailsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDetailForm</servlet-name>
        <servlet-class>view.FileDetailForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDelete</servlet-name>
        <servlet-class>view.StudentDelete</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>view.StudentUpdate</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>StudentForm</servlet-name>
        <servlet-class>view.StudentForm</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GroupTable</servlet-name>
        <servlet-class>view.GroupTable</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GroupUpdate</servlet-name>
        <servlet-class>view.GroupUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupForm</servlet-name>
        <servlet-class>view.GroupForm</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>GroupDelete</servlet-name>
        <servlet-class>view.GroupDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDetailTable</servlet-name>
        <url-pattern>/FileDetailTable</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>FileTable</servlet-name>
        <url-pattern>/FileTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileForm</servlet-name>
        <url-pattern>/FileForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentTable</servlet-name>
        <url-pattern>/StudentTable</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>FileDetailForm</servlet-name>
        <url-pattern>/FileDetailForm</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>GroupUpdate</servlet-name>
        <url-pattern>/GroupUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupForm</servlet-name>
        <url-pattern>/GroupForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupTable</servlet-name>
        <url-pattern>/GroupTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupDelete</servlet-name>
        <url-pattern>/GroupDelete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StudentForm</servlet-name>
        <url-pattern>/StudentForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/StudentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDelete</servlet-name>
        <url-pattern>/StudentDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/MapMaker</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
